<article>
  <h2>Publications</h2>
  <p><a href="https://pubs.acs.org/doi/abs/10.1021/acs.jctc.9b00160">Accelerating membrane simulations with Hydrogen Mass Repartitioning</a></p>
  
  <p><a href="https://www.nature.com/articles/s41467-021-23120-0">Enhanced mechanosensing of cells in synthetic 3D matrix with controlled biophysical dynamics</a></p>
  
  <p><a href="https://www.frontiersin.org/articles/10.3389/fmedt.2022.905074/full">An artificial intelligence-enabled smartphone app for real-time pressure injury assessment</a></p>
</article>

